@model Entities.Student


<h1>AddStudent</h1>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<form method="post">



    <label>Name</label>
    <input type="text" name="Name" class="form-control" />
    <label>Surname</label>
    <input type="text" name="Surname" class="form-control" />
    <label>Vize</label>
    <input type="number" name="Vize" class="form-control" />
    <label>Final</label>
    <input type="number" name="Final" class="form-control" />


    <button type="submit" class="btn btn-outline-success">Ekle</button>
</form>